body {
  margin: 0;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* body {
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxit {
  border: 1px solid;
}

.word-wrapping {
  /*
  Ensures between 45-75 characters on a line before wrapping.
  Could be nice to have on every p tag
  */
  width: clamp(45ch, 50%, 75ch)
}

:root {
  --bg: hsl(210, 3%, 15%);
  --bg-accent1: hsl(210, 3%, 29%);
  --bg-accent2: hsl(210, 4%, 29%);
  --bg-accent3: hsl(216, 3%, 29%);
  --text-color: hsl(230, 9%, 87%);
  --nav-height: 60px;
  --border: 1px solid var(--bg-accent2);
  --border-radius: 8px;
  --speed: 500ms;
  --button-size: calc(var(--nav-height) * 0.5);
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-height);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  /* make element as wide as parent (at-most) */
  height: 100%;
  /* make element as wide as parent (exactly) */
  display: flex;
  /* align children horizontally*/
  justify-content: flex-end;
  /* align to the right */
}

.nav-item {
  width: calc(var(--nav-height) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-height) * 0.5);

  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent3);
  border-radius: 50%;
  padding: calc(var(--nav-height)/12);
  margin: calc(var(--nav-height)/30);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 200ms;
}

.icon-button:hover {
  /* filter: brightness(1.2); */
  /* filter: hue-rotate(-150deg) brightness(1.2); */
  filter: opacity(50%);
}

.icon-button svg {
  fill: var(--text-color);
  width: var(--button-size);
  height: var(--button-size);

}

.dropdown {
  position: absolute;
  top: calc(var(--nav-height) - 2px);
  /* top: 58px; */
  width: 300px; /* play with this */
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;

  transition: height var(--speed) ease;

}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 8fr 1fr;
}

.menu-item:hover {
  filter: brightness(0.7);
  background-color: hsl(228, 3%, 33%);
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}